/*
 *  main.css
 *  Blues
 *
 *  Defines the styles used across the Blues application.
 *
 *  Created on 20 April 2018 by Animesh Mishra <hello@animesh.ltd>
 *  © 2018 Animesh Ltd. All Rights Reserved.
 *
 */

* {
  margin: 0;
  padding: 0;
  font-family: "Avenir", "Segoe UI", sans-serif;
  color: #F4F4F4;
}

body {
  background-color: #FAFAFA;
}

label {
  display: block;
  margin-top: 10px;
  padding: 0px;
  background: none;
  width: 210px;
  font-family: "Inconsolata", "Source Code Pro", "Monaco", monospace;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Parent container, the only child of the body element. */
#container {
  width: 1000px;
  height: 700px;
  margin: 60px auto 0px auto;
  border: 0.5px solid #808080;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #ABABAB;
}


/* Control Panel is the div having the Start/Stop buttons. */
#controlPanel {
  float: left;
  height: 620px;
  width: 320px;
  display: inline-block;
  background-color: #F5F5F5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 40px;
}

#controlPanel > img {
  display: block;
  margin: auto;
  width: 250px;
  margin-top: 130px;
}

#controlPanel > button {
  display: block;
  width: 280px;
  height: 70px;
  background-color: #034694;
  border: none;
  border-radius: 8px;

  font-weight: 600;
  font-size: 18px;
}

#controlPanel > #start {
  background-color: #034694;
  margin: 50px auto 20px auto;
  cursor: pointer;
}

#controlPanel > #stop {
  background-color: #E52129;
  margin: auto;
  cursor: not-allowed;
}


/* Game Panel is the div displaying match events. */
#gamePanel {
  float: left;
  height: 620px;
  width: 520px;
  display: inline-block;
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #034694;
}

#score {
  margin: 50px 0px 20px 0px;
  text-align: center;
  color: #F4F4F4;
  font-size: 48px;
  line-height: 100%;
}

#chelsea {
  display: inline-block;
  float: left;
  width: 210px;
  height: 450px;
  text-align: right;
  font-weight: 600;
}

.chelseaEvent {
  text-align: right;
}

#minutes {
  display: inline-block;
  float: left;
  width: 98px;
  height: 450px;
  text-align: center;
  font-weight: 600;
}

.minute {
  width: 98px;
  text-align: center;
}


#juventus {
  display: inline-block;
  float: left;
  width: 210px;
  height: 450px;
  font-weight: 600;
}

.juveEvent {
  text-align: left;
}

.result {
    font-family: "Avenir", "Segoe UI", sans-serif;
    font-size: 24px;
    text-align: center;
}
